.vs/AppCentralizacion/FileContentIndex/3ec46e44-828a-467b-83ac-cc5d35df585c.vsidx
.vs/AppCentralizacion/FileContentIndex/5f503b47-4a6e-4c22-8e35-5b717e1dbca6.vsidx
.vs/AppCentralizacion/FileContentIndex/2bbc8ed1-3adc-4575-8f52-c2bb8413b77e.vsidx
