
@{
    ViewData["Title"] = "Index HOLA r";
    Layout = "Layout";
}

<h1>@ViewData["Title"]</h1>
<div class=" flex">
    <div class="w-1/3 flex justify-evenly  items-end ml-auto">
        <button class="btn btn-outline btn-accent">Accent</button>
        <button class="btn btn-outline btn-warning">Warning</button>
        <button class="btn btn-outline btn-error">Error</button>
    </div>
</div>