
@{
    ViewData["Title"] = "Index HOLA r";
    Layout = "Layout";
}

<h1>@ViewData["Title"]</h1>

<div class="">
<button class="btn btn-outline btn-accent">Accent</button>
<button class="btn btn-outline btn-warning">Accent</button>
<button class="btn btn-outline btn-error">Accent</button>
</div>