# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.dbmdl
*.bak
*.log

# Build results
[Bb]in/
[Oo]bj/
*.dll
*.exe
*.cache
*.pdb
*.mdb

# NuGet
*.nupkg
*.snupkg
*.nuspec
*.nuget.props
*.nuget.targets

# Publish profiles (opcional, si no quieres versionarlos)
CentralizedApps/Properties/PublishProfiles/*.pubxml
