
@{
    ViewData["Title"] = "En Desarrollo";
}


<div class="text-center">
    <h1 class="text-4xl font-bold mb-4">P치gina en Desarrollo</h1>
    <p class="text-lg">Esta secci칩n est치 actualmente en desarrollo. Por favor, vuelva m치s tarde.</p>
</div>