@{
    ViewData["Title"] = "Subir Imagen";
    Layout = "Layout";
}

<div class="flex items-center justify-center bg-base-200 p-4">
    <section class="p-30 bg-red-500 rounded-b-none">

    </section>
</div>

