
@{
    ViewData["Title"] = "Acceso denegado";
}


<div class="text-center">
    <h1 class="mb-4 text-4xl font-bold">Acceso denegado</h1>
    <p class="text-lg">No tiene permiso para acceder a esta sección.</p>
</div>