@{
    Layout = "Layout";
}

<div class="hero bg-base-200 min-h-screen">
    <div class="hero-content w-full flex-col justify-center px-4 lg:flex-row-reverse lg:px-20">
        <div class="card bg-base-100 w-full max-w-md shadow-2xl lg:max-w-lg">
            <div class="card-body p-8">
                <h2 class="mb-6 text-center text-3xl font-bold">Iniciar Sesión</h2>
                <form asp-action="Index" asp-controller="Home" method="get">
                <fieldset class="space-y-4">
                    <div>
                        <label class="label font-semibold">Email</label>
                        <input type="email" class="input input-bordered w-full text-lg" placeholder="Email" />
                    </div>
                    <div>
                        <label class="label font-semibold">Password</label>
                        <input type="password" class="input input-bordered w-full text-lg" placeholder="Password" />
                    </div>
                    <button type="submit" class="btn btn-neutral mt-4 w-full py-3 text-lg">Inicia Sesión</button>
                </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
